---
Checks:          '*,-fuchsia-default-arguments-declarations,-fuchsia-overloaded-operator,-fuchsia-default-arguments-calls,-modernize-use-trailing-return-type,-hicpp-signed-bitwise,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers'
WarningsAsErrors: true
HeaderFilterRegex: '.'
# AnalyzeTemporaryDtors: false
FormatStyle:     google
